{% extends "nav.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/box.css' %}" />
<link rel="stylesheet" href="{% static 'css/job-board.css' %}" />
{% endblock %}

{% block content %}

<div class ="job-details">
    <h2>{{ job.title }}</h2>
    <div class="apply-button">          
        <a href="{% url 'apply' job.id %}">Apply Now</a>
        <br>
    </div>
    <p><strong>Company:</strong> {{ job.company }}</p>
    <p><strong>Location:</strong> {{ job.location }}</p>
    <p><strong>Posted:</strong> {{ job.created_at }}</p>
    <div>
        <p><strong>Job Summary:</strong> </p>
        {{ job.description|linebreaks }}
    </div>
    <p><strong>Qualifications:</strong> {{ job.requirements }}</p>
    <p><strong>Salary:</strong> {{ job.salary }}</p>
    <div class="apply-button">
        <a href="{% url 'job_board' %}">Cancel</a>
    </div>
</div>
{% endblock %}