.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    margin-bottom: 20px;
    flex-direction: column;  
    gap: 20px;
   
}

.form-container {
    background: rgba(128, 128, 128, 0.5);
    backdrop-filter: blur(10px);           /* glass effect (optional) */
    -webkit-backdrop-filter: blur(10px); 
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-bottom: 20px;
}
.form-container p {
    margin-bottom: 20px;
}


.form-container label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #222;
}


.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.btn {
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    color:black
}

.submit {
    background-color: white
}

.cancel {
    background-color: #dc3545;
}

