{% extends "admin/admin_nav.html" %}
{% load static %}
{% load job_filters %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/box.css' %}" />
<link rel="stylesheet" href="{% static 'css/job-board.css' %}" />
{% endblock %}

{% block content %}
<div class="job_board_boxes">
    <div class ="jobs">
        <h2>Job Listing: </h2>
        <div class ="job_info">
            {% for job in job_lists %}
                <div class="job-card">
                    <h3>
                       {{ job.title }}</a>
                    </h3>
                    <p><strong>Company:</strong> {{ job.company }}</p>
                    <p><strong>Location:</strong> {{ job.location }}</p>
                    <p>{{ job.get_employment_type_display }}</p>
                    <small>Posted {{ job.created_at|days_ago }}</small>

                </div>      
                   
                {% empty %}
                    <p>There are no job posted.</p>
            {% endfor %}

            <a href="{% url 'dashboard' %}">← Back home</a>
        </div>
        
        {% if jobs.has_other_pages %}
            <div class="pagination">

                {% if jobs.has_previous %}
                    <a href="?page={{ jobs.previous_page_number }}&keyword={{ keyword }}&location={{ location }}">

                        &laquo; Previous
                    </a>
                {% endif %}

                {% for num in jobs.paginator.page_range %}

                    {% if jobs.number == num %}
                        <span class="current">
                            {{ num }}
                        </span>
                    {% else %}
                        <a href="?page={{ num }}&keyword={{ keyword }}&location={{ location }}">

                            {{ num }}
                        </a>
                    {% endif %}

                {% endfor %}

                {% if jobs.has_next %}
                    <a href="?page={{ jobs.next_page_number }}&keyword={{ keyword }}&location={{ location }}">

                        Next &raquo;
                    </a>
                {% endif %}

            </div>
        {% endif %}
    
        <hr>
    </div>
</div>
{% endblock %}